<div class="page-content">
  <ul class="post-list">
    <% @posts.each do |post| %>
      <li class="post-list__item">
        <%= link_to post.title, post_url_path(post), class: "post-list__title" %>
        <% if post.body.present? %>
          <p class="post-list__excerpt"><%= post.excerpt %> <%= link_to "continue reading", post_url_path(post), class: "post-list__continue" %></p>
        <% end %>
        <span class="post-list__date"><%= post.published_at ? render("posts/published_date", post: post) : "DRAFT" %><% if post.tags.any? %> &middot; <%= post_tag_links(post) %><% end %></span>
      </li>
    <% end %>
  </ul>
  <%= link_to "Read more", blog_path, class: "post__back" %>
</div>
