<div id="<%= dom_id game %>">
  <div>
    <strong>Title:</strong>
    <%= game.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= game.description %>
  </div>

  <div>
    <strong>Download url linux:</strong>
    <%= game.download_url_linux %>
  </div>

  <div>
    <strong>Download url macos:</strong>
    <%= game.download_url_macos %>
  </div>

  <div>
    <strong>Download url windows:</strong>
    <%= game.download_url_windows %>
  </div>

</div>
