<% content_for :title, @game.title %>
<div class="page-content">

  <div class="page-content__header">
    <h1 class="page-content__title"><%= @game.title %></h1>
    <% if authenticated? %>
      <%= link_to "Edit Game", edit_game_path(@game), class: "page-content__action" %>
    <% end %>
  </div>

  <% if @game.cover_image.attached? %>
    <%= image_tag @game.cover_image, class: "game__cover-image" %>
  <% end %>

  <% if @game.description.present? %>
    <p class="game__description"><%= @game.description %></p>
  <% end %>

  <% if @game.download_url_linux.present? || @game.download_url_macos.present? || @game.download_url_windows.present? || @game.download_url_itch.present? %>
    <div class="game__downloads">
      <% if @game.download_url_itch.present? %>
        <%= link_to "Download on itch.io", @game.download_url_itch, class: "game__download-link" %>
      <% end %>
      <% if @game.download_url_linux.present? %>
        <%= link_to "Download for Linux", @game.download_url_linux, class: "game__download-link" %>
      <% end %>
      <% if @game.download_url_macos.present? %>
        <%= link_to "Download for macOS", @game.download_url_macos, class: "game__download-link" %>
      <% end %>
      <% if @game.download_url_windows.present? %>
        <%= link_to "Download for Windows", @game.download_url_windows, class: "game__download-link" %>
      <% end %>
    </div>
  <% end %>

  <p class="game__date"><%= @game.created_at.strftime("%B %d, %Y") %></p>

</div>
