<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
  <div class="form__errors">
    <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

    <ul>
      <% link.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form__group">
    <%= form.label :title, class: "form__label" %>
    <%= form.text_field :title, class: "form__input" %>
  </div>

  <div class="form__group">
    <%= form.label :url, class: "form__label" %>
    <%= form.text_field :url, placeholder: "skyefreeman.com", class: "form__input" %>
  </div>

  <div class="form__group">
    <%= form.submit "Save", class: "form__submit" %>
  </div>
<% end %>
