<div id="<%= dom_id link %>">
  <a href="<%= ensure_https_prefix(link.url) %>" class="post-list__title">
    <%= link.title.present? ? link.title : link.url %>
  </a>
  <span class="post-list__date">
    <%= link.created_at.strftime("%B %d, %Y") %> at <%= link.created_at.strftime("%l:%M %p").strip %><% if link.tags.any? %> &middot; <%= safe_join(link.tags.map { |t| link_to(t.name, tag_path(t.name), class: "post__tag-link") }, ", ") %><% end %>
  </span>
</div>
