<% content_for :title, @tag.name %>
<div class="page-content">
  <h1 class="page-content__title">Tag: <%= @tag.name %></h1>

  <% if @posts.any? %>
    <h2 class="page-content__section-title">Posts</h2>
    <ul class="post-list">
      <% @posts.each do |post| %>
        <li class="post-list__item">
          <%= link_to post.title, post_url_path(post), class: "post-list__title" %>
          <span class="post-list__date"><%= render("posts/published_date", post: post) %></span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @notes.any? %>
    <h2 class="page-content__section-title">Notes</h2>
    <ul class="post-list">
      <% @notes.each do |note| %>
        <li class="post-list__item">
          <%= link_to note.title, note_path(note), class: "post-list__title" %>
          <span class="post-list__date"><%= note.updated_at.strftime("%B %d, %Y") %></span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @ideas.any? %>
    <h2 class="page-content__section-title">Ideas</h2>
    <ul class="post-list">
      <% @ideas.each do |idea| %>
        <li class="post-list__item">
          <%= authenticated? ? link_to(idea.title, edit_idea_path(idea), class: "post-list__title") : content_tag(:span, idea.title, class: "post-list__title") %>
          <span class="post-list__date">
            <%= idea.updated_at.strftime("%B %d, %Y") %>
            <%= render("ideas/output_url", idea: idea) %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @links.any? %>
    <h2 class="page-content__section-title">Links</h2>
    <ul class="post-list">
      <% @links.each do |link| %>
        <li class="post-list__item">
          <a href="<%= ensure_https_prefix(link.url) %>" class="post-list__title"><%= link.title.present? ? link.title : link.url %></a>
          <span class="post-list__date"><%= link.created_at.strftime("%B %d, %Y") %></span>
          <% if authenticated? %>
            <%= link_to "Edit", edit_link_path(link), class: "post-list__date" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @posts.empty? && @notes.empty? && @ideas.empty? && @links.empty? %>
    <p class="post-list__empty">No content tagged with "<%= @tag.name %>" yet.</p>
  <% end %>
</div>
