<%= render "hero" %>

<ul class="post-list">
  <% @posts.each do |post| %>
    <li class="post-list__item">
      <h2 class="post-list__title">
        <%= link_to post.title, post_path(post) %>
      </h2>
      <p class="post-list__meta"><%= post.author %> &middot; <%= post.created_at.strftime("%B %d, %Y") %></p>
      <div class="post-list__body"><%= post.body %></div>
    </li>
  <% end %>
</ul>
