<% content_for :title, @post.title %>
<% content_for :head do %>
  <%= render "shared/meta_tags",
    title: @post.title,
    description: @post.description,
    og_type: "article",
    canonical_url: post_full_url(@post),
    image_url: post_og_image_url(@post) %>
<% end %>

<div class="post">
  <div class="post__header">
    <h1 class="post__title"><%= @post.title %></h1>
    <% if authenticated? %>
      <%= link_to "Edit Post", edit_post_path(@post), class: "page-content__action" %>
    <% end %>
  </div>

  <p class="post__meta">
    <%= @post.published_at ? render("published_date", post: @post) : "DRAFT" %>
    <% if @post.deleted_at %>
      &middot; Deleted <%= @post.deleted_at.strftime("%B %d, %Y") %>
    <% end %>
    <% if @post.tags.any? %>
      &middot; <%= post_tag_links(@post) %>
    <% end %>
  </p>

  <% if @post.header_attachment.attached? %>
    <%= image_tag @post.header_attachment, class: "post__header-image" %>
  <% end %>

  <div class="post__body"><%= @post.body %></div>
</div>
